.artist-page-about-artist-grid-box{
  height: 87%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.artist-profile-about-artist-box{
  width: 35%;
  min-width: 420px;
}

.artist-page-about-artist-background-img-box{
  background-color: #ccd0cf;
  border-radius: 8px 0 0 8px;
}

.artist-page-about-artist-background-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.artist-profile-about-artist-content{
  background-color: #24293d;
  border-radius: 0 8px 8px 0;
  position: relative;
  padding: 20px 30px 20px 30px;
}

.artist-page-about-artist-name{
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: inline;
}

.artist-page-about-artist-icon{
  width: 15%;
  border-radius: 35px;
  position: absolute;
  right: 5%;
  top: 5%;
}

.artist-page-about-artist-listeners-box{
  margin-top: 8px;
}

.artist-page-about-artist-listeners{
  color: #ccd0cf;
  font-size: 14px;
  display: inline;
}

.artist-profile-about-artist-description{
  color: #ccd0cf;
  font-size: 12px;
  width: 100%;
  text-align: justify;
  margin-top: 35px;
}

.artist-profile-about-artist-description-second-para{
  margin-top: 5%;
}


.artist-page-about-artist-ig-button, .artist-page-about-artist-x-button{
  width: 12%;
}

.artist-page-about-artist-ig-button{
  margin-right: 8px;
}

.artist-page-about-artist-ig-icon, .artist-page-about-artist-x-icon{
  width: 100%;
}

.artist-profile-about-artist-icon-box{
  position: absolute;
  display: flex;
  justify-content: flex-end;
  bottom: 3%;
  right: 5%;
}

.artist-profile-about-artist-grp-details-box{
  position: absolute;
  bottom: 2%;
  left: 30px;
}

.artist-profile-about-artist-grp-details-title{
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
}

.artist-profile-about-artist-words{
  font-size: 12px;
  color: #ccd0cf;
  margin-bottom: 5px;
}

.artist-profile-about-artist-description-expand-button{
  color: white;
  text-decoration: underline;
  font-size: 11px;
  margin-top: 5%;
  display: none;
}

.artist-profile-top-releases-expand-button{
  display: flex;
}

/*media query*/
@media (max-width: 1741px){ /*fixing about artist section*/
  .artist-page-about-artist-name{
      font-size: 24px;
  }
  .artist-page-about-artist-listeners{
      font-size: 12px;
  }
  .artist-page-about-artist-icon{
      display: none;
  }
}

@media (max-width: 1611px){ /*fixing about artist section*/
  .artist-page-about-artist-name{
      font-size: 22px;
  }
}

@media (max-width: 1440px){ /*laptop size*/
  .artist-page-about-artist-name{
      font-size: 20px;
  }
}

@media (max-width: 1248px){ /*mainly fixing about artist section*/
  .artist-profile-middle-box{
      flex-direction: column;
  }

  .artist-profile-about-artist-box{
      width: 100%;
  }

  .artist-page-about-artist-name{
      font-size: 46px;
  }
  .artist-page-about-artist-listeners{
      font-size: 18px;
  }
  .artist-page-about-artist-icon{
      display: inline;
      width: 13%;
  }
  .artist-profile-about-artist-description{
      font-size: 14px;
  }
  .artist-page-about-artist-ig-button, .artist-page-about-artist-x-button{
      width: 10%;
  }
  .artist-profile-about-artist-grp-details-title{
      font-size: 18px;
  }
  .artist-profile-about-artist-words{
      font-size: 16px;
  }
}

@media (max-width: 1082px){ /*fixing about artist section*/
  .artist-page-about-artist-icon{
      display: none;
  }
}

@media (max-width: 975px){ /*fixing about artist section*/
  .artist-page-about-artist-name{
      font-size: 40px;
  }
  .artist-page-about-artist-listeners{
      font-size: 16px;
  }
  .artist-profile-about-artist-description{
      font-size: 12px;
  }
  .artist-profile-about-artist-grp-details-title{
      font-size: 16px;
  }
  .artist-profile-about-artist-words{
      font-size: 12px;
  }
}

@media (max-width: 896px){ /*fixing about artist section*/
  .artist-page-about-artist-name{
      font-size: 30px;
  }
  .artist-page-about-artist-listeners{
      font-size: 16px;
  }
  .artist-profile-about-artist-description{
      font-size: 12px;
  }
  .artist-profile-about-artist-grp-details-title{
      font-size: 16px;
  }
  .artist-profile-about-artist-words{
      font-size: 12px;
  }
}

@media (max-width: 826px){ /*fixing about artist section*/
  .artist-page-about-artist-name{
      font-size: 20px;
  }
  .artist-page-about-artist-listeners{
      font-size: 14px;
  }
  .artist-profile-about-artist-description{
      font-size: 12px;
      margin-top: 20px;
  }
  .artist-profile-about-artist-grp-details-title{
      font-size: 14px;
  }
  .artist-profile-about-artist-words{
      font-size: 12px;
  }
} 

@media (max-width: 804px){ /*fixing about artist section*/
  .artist-profile-about-artist-description-second-para{
      display: none;
  }
  .artist-profile-about-artist-description-expand-button{
      display: inline;
  }
}

@media (max-width: 430px){
  .artist-profile-about-artist-content{
    padding: 10px 10px;
  }

  .artist-page-about-artist-name{
    font-size: 16px;
  }

  .artist-page-about-artist-listeners{
    font-size: 12px;
  }

  .artist-profile-about-artist-description{
    font-size: 10px;
  }

  .artist-profile-about-artist-grp-details-box{
    left: 10px;
  }

  .artist-profile-about-artist-grp-details-title{
    font-size: 12px;
  }
  
  .artist-profile-about-artist-words{
    font-size: 12px;
  }

  .artist-profile-about-artist-icon-box{
    right: 10px;
  }

  .artist-profile-about-artist-box{
    min-width: 370px;
  }

  .artist-page-about-artist-grid-box{
    height: 250px;
  }

  .artist-page-about-artist-ig-button, .artist-page-about-artist-x-button{
    width: 15%;
  }
}

@media (max-width: 375px){
  .artist-profile-about-artist-description{
    margin-top: 5px;
  }

  .artist-profile-about-artist-grp-details-title{
    font-size: 11px;
  }
  
  .artist-profile-about-artist-words{
    font-size: 11px;
  }

  .artist-profile-about-artist-box{
    min-width: 315px;
    margin-top: 0;
  }

  .artist-page-about-artist-listeners-box{
    margin-top: 6px;
  }

  .artist-profile-about-artist-description-expand-button{
    font-size: 10px;
  }
}