.artist-profile-alike-artist-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.artist-profile-alike-artist-name {
  color: #ccd0cf;
  font-size: 14px;
  align-self: center;
}

.artist-profile-alike-artist-display-box {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.artist-profile-alike-artist-box {
  margin-top: 100px;
}

@media (max-width:430px){
  .artist-profile-alike-artist-display-box {
    width: 120px;
  }
}

@media (max-width:375px){
  .artist-profile-alike-artist-box{
    margin-top: 70px;
  }
}