.artist-profile-comment-box{
    margin-top: 100px;
}

.artist-profile-comment-draft-gridbox{
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 20px;
    height: 120px;
    margin-bottom: 15px;
    padding-bottom: 60px;
    border-bottom: 1px solid darkgray;
}

.artist-profile-comment-user-img{
    width: 100%;
}

.artist-profile-comment-draft-textarea{
    border-radius: 5px;
    border: none;
    background-color: #27293d;
    outline: none;
    height: 100%;
    width: 100%;
    resize: none;
    padding-top: 15px;
    padding-left: 20px;
    box-sizing: border-box;
}

.artist-profile-comment-draft-textarea::placeholder{
    color: #ccd0cf;
    font-family: Arial;
    font-size: 14px;
    margin-top: 20px;
}

.artist-profile-comment-draft-emoji-icon, .artist-profile-comment-draft-publish-icon{
    width: 20px;
}

.artist-profile-comment-draft-emoji-button, .artist-profile-comment-draft-post-button{
    background-color: transparent;
    border: none;
    padding: 0;
    padding-left: 12px;
}

.artist-profile-comment-draft-textarea-box{
    position: relative;
}

.artist-profile-comment-draft-icon-box{
    position: absolute;
    bottom: 8px;
    right: 20px
}

.artist-profile-comment-user-comments-gridbox{
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 20px;
    padding-top: 50px;
}

.user-profile-comment-user-info-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.artist-profile-comment-user-name{
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.artist-profile-comment-user-comment, .artist-profile-comment-likes{
    color: #ccd0cf;
    font-size: 14px;
}

.artist-profile-comment-posted-time{
    font-size: 12px;
    color: white;
}

.artist-profile-comment-utilities-img{
    width: 18px;
}

.artist-profile-comment-dislike-img{
    transform: rotate(180deg);
}

.artist-profile-comment-utilities-button{
    background-color: transparent;
    border: none;
    padding: 0;
    padding-right: 15px;
}

.artist-profile-comment-user-comment{
    text-align: justify;
    margin-bottom: 30px;
}

.artist-profile-comment-utilities-box{
    display: flex;
    align-items: center;
}

.artist-profile-comment-likes{
    padding-right: 15px;
}

.artist-profile-comment-img{
    width: 25%;
    margin-bottom: 16px;
    border-radius: 5px;
}

/*
.artist-profile-comment-user-comment-box{
    border-bottom: 1px solid rgba(225, 225, 225, 0.3);
    padding-bottom: 25px;
}
*/

.page-button{
    background-color: #1c3869;
    padding: 10px;
    color: #ccd0cf;
    margin-right: 20px;
    border-radius: 3px;
}

.next-page-icon{
    width: 25px;
}

#current-page-button{
    background-color: #0279ff;
    color: white;
}

.pages-box{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

/*media query*/
@media(max-width: 1024px){
    .artist-profile-comment-img{
        width: 50%;
    }
}

@media(max-width: 430px){
    .artist-profile-comment-img{
        width: 100%;
    }

    .artist-profile-comment-user-comment{
        font-size: 12px;
    }

    .artist-profile-comment-user-comments-gridbox, .artist-profile-comment-draft-gridbox{
        grid-template-columns: 45px 1fr;
        column-gap: 15px;
    }

    .artist-profile-comment-draft-textarea::placeholder{
        font-size: 13px;
    }
}

@media(max-width: 375px){
    .artist-profile-comment-user-comments-gridbox, .artist-profile-comment-draft-gridbox{
        grid-template-columns: 40px 1fr;
        column-gap: 12px;
    }

    .artist-profile-comment-box{
        margin-top: 70px;
    }

    .artist-profile-comment-utilities-img{
        width: 15px;
    }

    .artist-profile-comment-user-name{
        font-size: 15px;
    }
}
