.artist-profile-top-releases-title {
    margin-bottom: 30px;
  }
  
  .artist-profile-top-releases-song-img {
    width: 100%;
    border-radius: 3px;
  }
  
  .artist-profile-top-releases-song-name {
    color: #ccd0cf;
    font-size: 14px;
    
  }
  
  .artist-profile-top-releases-song-listeners,
  .artist-profile-top-releases-song-duration {
    color: #ccd0cf;
    font-size: 14px;
    
  }
  
  .artist-profile-top-releases-song-more-icon {
    width: 16px;
  }
  
  .artist-profile-top-releases-song-more-button {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  
  .artist-profile-top-releases-box{
    flex-grow: 1;
    margin-right: 5%;
  }
  
  .artist-profile-top-releases-songs-details-box {
    display: grid;
    grid-template-columns: 55px 2fr 1fr 50px 30px;
    column-gap: 35px;
    row-gap: 20px;
    align-items: center;
  }
  
  .artist-profile-top-releases-expand-button {
    background-color: transparent;
    border: none;
    color: #0279ff;
    text-decoration: underline;
    padding: 0;
    margin-top: 15px;
  }

/*media query*/

@media (max-width:1248px){
  .artist-profile-top-releases-box{
    margin-right: 0;
}
}

@media(max-width:430px){
  .artist-profile-top-releases-songs-details-box{
    display: grid;
    grid-template-columns: 50px 180px 50px 30px;
    column-gap: 20px;
  }
  .artist-profile-top-releases-song-listeners{
    display: none;
  }
  .artist-profile-top-releases-box{
    margin-right: 0;
  }
}

@media(max-width:375px){
  .artist-profile-top-releases-songs-details-box{
    display: grid;
    grid-template-columns: 50px 120px 50px 30px;
    column-gap: 20px;
  }

  .artist-profile-top-releases-box{
    margin-right: 0;
  }

  .artist-profile-top-releases-song-duration{
    font-size: 12px;
  }

  .artist-profile-top-releases-song-more-icon{
    width: 14px;
  }
}