.artist-profile-tour-counting-gridbox{
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    justify-items: center;
    width: 429px;
    row-gap: 16px;
}

.artist-profile-tour-countdown-header, .artist-profile-tour-countdown-time{
    color: white;
    
}

.artist-profile-tour-countdown-header{
    font-size: 14px;
    color: #ccd0cf;
    font-weight: bold;
}

.artist-profile-tour-countdown-time{
    font-size: 6em;
    font-weight: bold;
    color: #fdeb37;
}

.artist-profile-tour-title{
    font-size: 26px;
    color: white;
    font-weight: bold;
    margin-bottom: 26px;
}

.artist-profile-tour-details-flexbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist-profile-tour-box{
    margin-top: 100px;
}

.artist-profile-tour-details-link{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.artist-profile-tour-details-button{
    padding: 20px 40px;
    background-color: #0279ff;
    color: white;
    margin-top: 50px;
    font-size: 18px;
    border-radius: 13px;
    font-weight: bold;
}

/*media query*/
@media (max-width: 896px){ 
    .artist-profile-tour-title{
        font-size: 22px;
    }
} 

@media (max-width: 769px){
    .artist-profile-tour-title{
        font-size: 20px;
    }
}

@media(max-width: 768px){
    .artist-profile-on-tour-img{
      height: 350px;
    }
}

@media(max-width: 430px){
    .artist-profile-on-tour-img{
      height: 250px;
    }

    .artist-profile-tour-title{
        font-size: 16px;
    }

    .artist-profile-tour-counting-gridbox{
        width: 100%;
    }
    
    .artist-profile-tour-countdown-time{
        font-size: 4em;
    }

    .artist-profile-tour-details-button{
        padding: 15px 40px;
        margin-top: 30px;
        font-size: 18px;
    }
    
}

@media(max-width: 375px){
    .artist-profile-on-tour-img{
      height: 200px;
    }

    .artist-profile-tour-title{
        font-size: 13px;
    }

    .artist-profile-tour-details-button{
        padding: 15px 35px;
        border-radius: 10px;
    }
    
    .artist-profile-tour-box{
        margin-top: 70px;
    }
}