.content-part {
  background-color: #1d2235;
  border-radius: 8px;
  flex: 1;
  overflow: scroll;
  overflow-x: hidden;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
}


@media (max-width: 1024px){
    .content-part{
       padding-left: 20px;
       padding-right: 20px;
       padding-top: 0;
    }
}







